<?xml version="1.0" encoding="UTF-8"?>

<web-app>
	<display-name>Archetype Created Web Application</display-name>

	<servlet>
		<servlet-name>springmvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup> <!-- Ensures the servlet is loaded on startup -->
	</servlet>

	<servlet-mapping>
		<servlet-name>springmvc</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<filter>
		<filter-name>AuthFilter</filter-name>
		<filter-class>edu.dev.auth.filter.AuthFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthFilter</filter-name>
		<url-pattern>/books/*</url-pattern>
	</filter-mapping>
	
	
</web-app>
